{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex w-100 justify-content-between">
    <a href="{% url 'home' %}">< back</a>
    <h1>{{ project }}</h1>
    <a href=""></a>
</div>
<hr><br>
<div class="container" >
    <div id="confirmModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                </div>
                <div class="modal-footer">
                    <button id="confirmBtn" type="button" class="btn btn-dark">Yes</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="kanban scroll card-body">
        
        </div>
    </div>
</div>        
<!-- Custom JS -->
<script>
    let kanbanId = JSON.parse("{{ kanban_id | escapejs}}");
    let kanbanJsonData = JSON.parse("{{ kanban_data | escapejs}}");
</script>
<script src="{% static 'js/main.js' %}" type="module"></script>
{% endblock content %}